@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}


body {
    display: block;
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    min-width: 170px;
    min-height: 200px;
    background: var(--bg);
    color: var(--fg);
    margin: 0;
    cursor: default;
    user-select: none;
}


/* Header */

#header {
    position: fixed;
    top: 0;
    font-family: "Raleway-SemiBold", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 16px 10px 11px;
    width: 100%;
    background-color: var(--headerBg);
    color: var(--headerFg);
    cursor: pointer;
    z-index: 10;
}
.contrast {
    color: var(--headerHi);
}


/* Extensions */

#switcher {
    position: relative;
    max-height: var(--height);
    overflow-y: hidden;
    margin-top: var(--top);
    margin-bottom: 5px;
    right: 5px
}
#switcher:hover {
    overflow-y: overlay;
}
.extension {
    padding: 5px 15px 5px 10px;
    cursor: pointer;
}

.extension:first-of-type {margin-top: 5px}

.extension div {
    border: 1px solid transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}
.extension div::before {
    position: absolute;
    content: "";
    text-align: center;
    left: 5px;
    width: 20px;
}
.extension:hover {
    background-color: var(--extBgHi);
    color: var(--extFgHi);
}

.extension.enabled, .extension.enabled:hover {color: var(--extEn)}

.extension.enabled:hover {color: var(--extEnHi)}


/* Menu */

#menu {
    padding: 5px 15px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
}
.info, .hide, .options, .uninstall {
    font-family: "Raleway-SemiBold", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    width: 48%;
    text-align: center;
    padding: 8px 0;
    border-radius: 3px;
    background-color: var(--menuBg);
}
.info {
    float: left;
    color: var(--menuFgAct);
    cursor: pointer;
}
.hide {
    float: right;
    color: var(--menuFgAct);
    cursor: pointer;
}
.options {
    float: left;
    clear: left;
    margin-top: 5px;
    color: var(--menuFgDis);
    cursor: default;
}
.options.optActive {
    color: var(--menuFgAct);
    cursor: pointer;
}
.info:hover, .hide:hover, .options.optActive:hover {
    background-color: var(--menuBgHi);
    color: var(--menuFgActHi) !important;
}
.uninstall {
    float: right;
    clear: right;
    margin-top: 5px;
    color: var(--menuFgAct);
    cursor: pointer;
}
.uninstall:hover {
    background-color: var(--menuBgHi2);
    color: var(--menuFgActHi) !important;
}


/* Info */

#txtdiv {
    padding: 0 15px 0 10px;
    border: 1px solid transparent;
    white-space: normal;
    word-break: break-all;
    margin-top: 0px;
}
#txtdiv p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
#txtdiv p:first-of-type {
    margin-bottom: 4px;
}
.desc {
    color: var(--desc)
}
#copy {
    cursor: pointer;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--headerHi);
    border-radius: 5px;
}
