@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('fonts/Raleway-Thin.ttf') format('truetype');
}

body {
    background-color: hsl(0,0%,10%);
    margin: 0;
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5px;
    cursor: default;
    user-select: none;
}
#content {
    position: absolute;
    width: 450px;
    height: 350px;
    border-radius: 1px;
    line-height: 1.5;
    color: #a6a7ab;
    top: 0;
    bottom: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
#header, #footer {
    position: fixed;
      background-color: hsl(240,3%,13%);
    letter-spacing: .5px;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 10;
}
#header {
    font-family: "Raleway-SemiBold", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1.2rem;
    top: 0;
    padding: .7rem;
}
#extPage {
    cursor: pointer;
}
#version {
    color: #666c71;
}
.norm {
    color: #a6a7ab;
}
#footer {
    color: #666c71;
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1rem;
    bottom: 0;
    padding: .7rem;
    border-top: 1px solid rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 1px rgba(65,65,65,0.4);
}
h1 {
    margin-top: 0;
    font-family: "Raleway-Thin", "Helvetica Neue", "Helvetica", sans-serif;
    letter-spacing: .5px;
    text-align: center;
    font-size: 1.5rem;
    color: #666c71;
}
.high, .extensions:hover {
    color: #93a3e1;
}
.extensions {
    cursor:pointer;
}
.float {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
}
.left {
    float: left;
}
.right {
    float: right;
}
#light, #alt, #dark, #alt2, #small, #medium, #large {
    color: #666c71;
    cursor: pointer;
}
#alt, #dark, #alt2, #medium, #large {
    margin-left: 30px
}
#light:hover, #alt:hover, #dark:hover, #alt2:hover, #small:hover, #medium:hover, #large:hover {
    color: #a6a7ab;
}
#light.enabled, #alt.enabled, #dark.enabled, #alt2.enabled, #small.enabled, #medium.enabled, #large.enabled, #display {
    color: #d5596f;
}
#display {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-left: 10px;
}
.centre {
    display: inline-block;
    text-align: left;
}
a {
    color: #d5596f;
    text-decoration: none;
}
p {
    margin: 10px 0 10px 0;
    text-align: left;
}
p:last-of-type {
    margin-bottom: 0px;
}
p:first-of-type {
    margin-top: 0px;
}


/* Range slider */

input {
    cursor: pointer;
}
input:focus {
    outline: none;
}
input[type="range"] {
    background: hsl(240,3%,8%);
    width: 130px;
    height: 3px;
    -webkit-appearance: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px 0px rgba(255, 255, 255, .05);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px 0px rgba(255, 255, 255, .05);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width:15px;
    height:15px;
    border-radius: 50%;
    border: 1px solid black;
    background: linear-gradient(90deg,#000 0%, #313131 90%);
    background: -webkit-linear-gradient(90deg,#000 0%, #313131 90%);
}
input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-webkit-slider-thumb:active {
    -webkit-appearance: none !important;
    border: 1px solid #93a3e1;
    background: linear-gradient(90deg,#1c1c1c 0%, #454545 90%);
    background: -webkit-linear-gradient(90deg,#1c1c1c 0%, #454545 90%);
}
