@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('fonts/Raleway-Thin.ttf') format('truetype');
}

body {
    background-color: hsl(0,0%,8%);
    margin: 0;
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
    cursor: default;
    user-select: none;
}
#header, #footer {
    position: fixed;
    background-color: hsl(0,0%,6%);
    letter-spacing: .5px;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 10;
}
#header {
    font-family: "Raleway-SemiBold", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1.2rem;
    top: 0;
    padding: .7rem;
}
#footer {
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1rem;
    color: hsl(207, 5%, 42%);
    bottom: 0;
    padding: .7rem;
}
#content {
    position: absolute;
    width: 900px;
    border-radius: 1px;
    line-height: 1.5;
    color: hsl(228, 3%, 66%);
    top: 20vh;
    bottom: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
}
* {
    box-sizing: border-box;
}

/* Creates two equal columns */

.column {
    float: left;
    width: 50%;
    padding: 0px;
}
.subcolumn {
    width: 100%;
    max-height: 36vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subcolumn:hover {
    width: 100%;
    overflow-y: overlay;
}

/* Clears floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Stacks columns on top of each other for smaller displays */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.float {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
}
.left {
    float: left;
}
.right {
    float: right;
}

#extPage {
    cursor: pointer;
}
#version {
    color: hsl(207, 5%, 42%);
}
h1 {
    margin-top: 0;
    font-family: "Raleway-Thin", "Helvetica Neue", "Helvetica", sans-serif;
    letter-spacing: .5px;
    text-align: left;
    font-size: 1.6rem;
    color: hsl(207, 5%, 42%);
}
span.h2 {
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: .9rem;
    color: hsl(228, 3%, 66%);
}
.norm {
    color: hsl(228, 3%, 66%);
}
.contrast {
    color: hsl(207, 5%, 42%);
}
.extensions {
    cursor:pointer;
    color: hsl(228, 3%, 66%);
}
#light, #alt, #dark, #alt2, #small, #medium, #large {
    color: hsl(207, 5%, 42%);
    cursor: pointer;
}
#light, #dark, #alt2, #medium, #large {
    margin-left: 20px;
}
#light:hover, #alt:hover, #dark:hover, #alt2:hover, #small:hover, #medium:hover, #large:hover {
    color: hsl(228, 3%, 66%);
}
.high, .extensions:hover, #light.enabled, #alt.enabled, #dark.enabled, #alt2.enabled, #small.enabled, #medium.enabled, #large.enabled, #display {
    color: hsl(357, 55%, 52%);
}
#display {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-left: 10px;
}
a {
    color: hsl(357, 55%, 52%);
    text-decoration: none;
}
p {
    margin: 10px 0 10px 0;
    text-align: left;
}
p:last-of-type {
    margin-bottom: 0px;
}
p:first-of-type {
    margin-top: 0px;
}


/* Range slider */

input {
    cursor: pointer;
}
input:focus {
    outline: none;
}
input[type="range"] {
    background: hsl(240,3%,8%);
    width: 130px;
    height: 3px;
    -webkit-appearance: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px 0px rgba(255, 255, 255, .05);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px 0px rgba(255, 255, 255, .05);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width:15px;
    height:15px;
    border-radius: 50%;
    border: 1px solid black;
    background: linear-gradient(90deg,#000 0%, #313131 90%);
    background: -webkit-linear-gradient(90deg,#000 0%, #313131 90%);
}
input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-webkit-slider-thumb:active {
    -webkit-appearance: none !important;
    border: 1px solid hsl(357, 55%, 52%);
    background: linear-gradient(90deg,#1c1c1c 0%, #454545 90%);
    background: -webkit-linear-gradient(90deg,#1c1c1c 0%, #454545 90%);
}


/* Scrollbar */

::-webkit-scrollbar {width: 12px}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 25px rgba(0,0,0,.3);
    border-right: solid 5px transparent;
    border-radius: 2px 6px 6px 2px
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 25px hsl(357, 55%, 52%);
    border-right: solid 5px transparent;
    border-radius: 2px 6px 6px 2px;
}
