:root {
    --bg: hsl(0,0%,100%);
    --fg: hsl(207,5%,58%);
    --fgShadow: hsl(207,5%,69%);
    --headerBg: hsl(0,0%,100%);
    --headerHi: hsl(0,0%,28%);
    --headerHiShadow: hsl(0,0%,38%);
    --headerFg: hsl(228,57%,73%);
    --headerFgShadow: hsl(228,3%,75%);
    --extBgHi:hsl(240,3%,96%);
    --extFgHi: hsl(0,0%,28%);
    --extEn: hsl(228,57%,73%);
    --extEnShadow: hsl(0,0%,40%);
    --extEnHi: hsl(228,59%,76%);
    --extEnHiShadow: hsl(0,0%,35%);
    --menuBg: hsl(240,5%,78%);
    --menuFgAct: hsl(360,100%,100%);
    --menuFgActHi: hsl(0, 0%, 94%);
    --menuBgHi: hsl(228,57%,73%);
    --menuBgHi2: hsl(349,97%,76%);
    --desc: hsl(0,0%,28%);
    --descShadow: hsl(0,0%,38%);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
}

body {
    display: block;
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    letter-spacing: .5px;
    min-width: 180px;
    min-height: 200px;
    background: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 1px 1px 10px 1px;
    cursor: default;
    user-select: none;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    font-family: "Raleway-Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 16px 15px 11px;
    width: 100%;
    background-color: var(--headerBg);
    color: var(--headerFg);
    cursor: pointer;
    z-index: 10;
}

.contrast { color: var(--headerHi); }

/* Extensions */
#switcher {
    position: relative;
    max-height: var(--height);
    overflow-y: hidden;
    margin-top: var(--top);
    margin-bottom: 5px;
}
#switcher:hover { overflow-y: overlay; }

.extension {
    padding: 5px 25px;
    cursor: pointer;
}
.extension div {
    border: 1px solid transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.extension div::before {
    position: absolute;
    content: "";
    text-align: center;
    left: 1px;
    width: 20px;
}
.extension:hover {
    background-color: var(--extBgHi);
    color: var(--extFgHi);
    font-weight: 600;
}
.extension.enabled, .extension.enabled:hover {
    font-weight: 600;
    color: var(--extEn);
}
.extension.enabled:hover { color: var(--extEnHi); }

/* Menu */
#menu {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
}
.info, .hide, .options, .uninstall {
    font-family: "Raleway-Semibold", "Helvetica Neue", "Helvetica", sans-serif;
    width: 48%;
    text-align: center;
    padding: 8px 0;
    border-radius: 3px;
    background-color: var(--menuBg);
}
.info {
    float: left;
    color: var(--menuFgAct);
    cursor: pointer;
}
.hide {
    float: right;
    color: var(--menuFgAct);
    cursor: pointer;
}
.options {
    float: left;
    clear: left;
    margin-top: 5px;
    color: var(--fg);
    cursor: default;
}
.options.optActive {
    color: var(--menuFgAct);
    cursor: pointer;
}
.info:hover, .hide:hover, .options.optActive:hover {
    background-color: var(--menuBgHi);
    color: var(--menuFgActHi) !important;
}
.uninstall {
    float: right;
    clear: right;
    margin-top: 5px;
    color: var(--menuFgAct);
    cursor: pointer;
}
.uninstall:hover {
    background-color: var(--menuBgHi2);
    color: var(--menuFgActHi) !important;
}

/* Info */
#txtdiv {
    padding: 0 15px;
    border: 1px solid transparent;
    white-space: normal;
    word-break: break-all;
    margin-top: 0px;
}
#txtdiv p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 4px;
}
#txtdiv p:last-of-type { margin-bottom: 0; }

#txtdiv a {
    cursor: pointer;
    text-decoration: none;
}
.desc {
    font-family: "Raleway-Semibold", "Helvetica Neue", "Helvetica", sans-serif;
    color: var(--desc);
}
#copy { cursor: pointer; }

/* Scrollbar */
/* Page behaviour */
body { overflow: overlay !important; scroll-behavior: smooth; }

/* Scrollbars */
::-webkit-scrollbar {
    border: 0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner { background-color: var(--bg); }

::-webkit-scrollbar-track-piece:hover, ::-webkit-scrollbar-track-piece:active { background: linear-gradient(180deg, hsla(0, 0%, 53%, .2), transparent); }

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--secondFg);
    border: 3px solid var(--bg);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active { background-color: var(--accent); }

:-webkit-scrollbar-button { display: none !important; }